body {
    width: 100%;
}
main {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color:#fcf7e3;
    border-radius: 10%;
    width: auto;
    padding-bottom: 2rem;
    color:#5b3d32;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
.cardimage{
    width: 100%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;

}

.padre {
    display:flex;
    align-items: center;
    gap: 2rem;
    margin-left: 30%;   
    
}

h1 {
    font-size: 50px;
    margin-bottom: 0;
}
h2 {
    font-size: 30px;
    margin-top: 0;
}
h3 {
    font-size: 40px;
    
}
.addbutton {
    width:50%;
    margin-bottom: 0%;
    color:#5b3d32 ;
    background-color:#f3df86 ;
    border: none;
    border-radius: 60px;
    font-size: 2rem;
    padding: 1rem;
}

@media screen and (min-widht: 1200px) {

}


