

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#fcf7e3;
    padding: 4rem;
    border-radius: 300px;
    gap: 2rem;
    margin: 2rem;
   
}
.title {
    font-size: 70px;
    margin-left: 3rem;
    font-weight: bold;
    color:#5b3d32;
    font-family: Arial, Helvetica, sans-serif;
}
button {
    color:#5b3d32 ;
    background-color:#f3df86 ;
    border: none;
    border-radius: 60px;
    font-size: 1rem;
    padding: 1rem;
}
.mainButton{
    font-size:1.5rem;
    display: flex;
    align-items: center;
    gap:2rem;
    font-weight: bold;
}
.mainButton img {
    padding: 1rem;  
    padding-left: 0;
}



.main {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color:#fcf7e3;
    border-radius: 20%;
    max-width: auto;;
    padding-bottom: 2rem;
    color:#5b3d32;
    font-family: Arial, Helvetica, sans-serif;
    margin:2rem;
    width: 50%;
    gap: 2rem;
    height: auto;
   
    
    
}
.cardimage{
    max-width: 100%;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    width: auto;



}

.padre {
    display:flex;
    align-items: center;
    gap: 2rem;
    margin-left: 5%;
    margin-right: 5%;
    
}

h1 {
    font-size: 40px;
    margin-bottom: 0;
}
h2 {
    font-size: 25px;
    margin-top: 0;
}
h3 {
    font-size: 30px;
    
}
.addbutton {
    width:50%;
    margin-bottom: 0%;
    color:#5b3d32 ;
    background-color:#f3df86 ;
    border: none;
    border-radius: 60px;
    font-size: 2rem;
    padding: 1rem;
}

.cards {
display: flex;
align-items: center;
flex-direction: row;



}
.cards2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    
    

}

h4{
    font-size: 50px;
    margin-left: 2rem;
    font-weight: bold;
    color:#5b3d32;
    font-family: Arial, Helvetica, sans-serif;
}
h5{
    font-size: 40px;
    margin-left: 3rem;
    font-weight: bold;
    color:#5b3d32;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}
p {
    font-size: 30px;
    margin-left: 3rem;
    color:#5b3d32;
    font-family: Arial, Helvetica, sans-serif;
}
.divEndPage {  
    background-color:#fcf7e3;
    border-radius: 10%;
    padding: 1rem;

}
.divEndPage img {
    text-align: center;
    width: 80%;
    margin-left:4rem;
 

}
@media screen and (min-widht: 1200px) {

}
